@page
@model Air_Heater_Temperature_data.Pages.Shared.ProcessOverviewModel
@{
    ViewData["Title"] = "Process overview";
}
<div>
    <h1>Process model</h1>
    <img class="card-img" src="~/Image/overview.JPG"
    asp-append-version="true"/>
</div>